$color-primary: #ED7D2A;
$color-secondary: #5D438F;
$color-tertiary: #6DB467;
$color-black:  #232323;
$color-white: #ffffff;
$color-grey: #acacac;

$md-small: 576px;
$md-medium: 768px;
$md-large: 992px;
$md-extraLarge: 1200px;

$container-max-width: 115rem;