@import '../../commonStyles/variables';
@import '../../commonStyles/mixins';

.footer {
    margin-top: 4rem; 
    width: 100%;
    height: 10rem;
    background-color: $color-black;
    color: $color-white;
    display: flex;
    justify-content: space-around;
    align-items: center;
     
    position: absolute;
    top: 100%; 

    p {
        font-size: 1.8rem;
    }
 
    .socialMedia a {
        color: $color-primary;
        font-size: 2.8rem;
        margin: 0 5px;
    }
}
 
@include media-size(null, $md-small) {
    .footer {
        p {  
            font-size: 1.2rem;
        }

        .socialMedia a {
            font-size: 2.2rem;
        }
    }
}
